@charset "UTF-8";
/* CSS Document */

<<<<<<< HEAD
	/* ------------------
	Basic Structure
--------------------*/


#wrapper {
	width: 960px;
	padding: 5px;
	margin: 20px auto;
}

#header {
	height: 100px;
}

#sidebar {
	float: left;
	width: 300px;
}

#content {
	float: right;
	width: 600px;
}

#footer {
	clear: both;
}

/*----------------

COLOR & FONTS

-----------------*/

body {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: black; 
	/*background-color: #B2FFD7;*/
	background-image: url("../images/background.jpg");
	background-size: 100%;

}

#header, #sidebar, #content, #footer {
	background-color: #95FF94;
	margin-bottom: 7px; 
	border-radius: 7px;
	border-color: #95FF94;
	padding-left: 4px;
	padding-right: 4px;
}
/* ------------------
	
	
		RESPONSIVE
			
		
--------------------*/
@media screen and (max-width: 980px) {
#wrapper {
	width: 94%;
}

#content {
	width: 65%;
}

#sidebar {
	width: 30%;
}

}

@media screen and (max-width: 700px) {
	#content, #sidebar {
		width: auto;
		float: none;	
	}
	
}

@media screen and (max-width: 480px) {


#header {
	height: auto;
}

h1 {
	font-size: 24px;
}


#sidebar {
	float: none;	
}

}

/*Phones*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
	body {
		font-size: 40px;
	}
	#header {
		height: auto;
	}
	#content {
		width: auto;
	}
	#sidebar {
		width: auto;
		clear: both;
	}
	#header, #sidebar, #content, #footer {
		border-radius: 16px;
		border-width: 8px;
	}
	
}
=======
/* Calculator Box */
.box {
	background-color: #525252;
	height: 900px;
	width: 1250px;
	border-radius: 10px;
	position: relative;
	top: 65px;
	left: 18%;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	border-radius: 50px;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function {
	color: white;
	width: 220px;
	background-color: #c64f81;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.operator {
	color: white;
	background-color: #4d5966;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.number {
	color: white;
	background-color: #7091ab;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

/* Simulate Button Press */
.function:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
.operator:active {
	border-top: black 2px solid;
	border-bottom: 2px #303030 solid;
}
.number:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
	

>>>>>>> Version-1.0
