@charset "UTF-8";
/* CSS Document */
body{
	background-image: url("images/game-background.jpg");
	background-size: 100%;
}

/* Box */
.screen.box {
	background-color: #303032;
	height: 20px;
	width: 1000px;
	border-left: #303032 solid 16px;
	border-right: #303032 solid 16px;
	position: relative;
	top: 50px;
	left: 18%;
	padding: 16px;
}
 
/* Buttons */
.keys {
	position: relative;
	top: 15px;
}

#text {
	border-left: #303032 solid 16px;
	border-right: #303032 solid 16px;
}


.buttons {
	color: #C8C9CF;
	top: 50px;
	
	}
.inventory {

	
	
	}
.bottom.buttons {
float: right;
}

.lower.box {
	background-color: #31363F;
	height: 50px;
	width: 1000px;
	border-left: #303032 solid 16px;
	border-right: #303032 solid 16px;
	position: relative;
	top: 50px;
	left: 18%;
	padding: 16px;
}

.middle.box {
	background-color:white;
	height: 250px;
	width: 1000px;
	border-radius: px;
	position: relative;
	top: 50px;
	left: 18%;
	padding: 16px;
	border-color:#31363F;
	border: 20px #31363F;
	
}
.game.functions {
	width: 245px;
	top: 5px;
	padding: 10px;
	font-size:700px;
	
}
	
.settings.functions{
	padding: 32px;
	font-size: 5000px;
}


