@charset "UTF-8";
/* CSS Document */
body{
	background-image: url("images/game-background.jpg");
	background-size: 100%;
}

/* Box */
.screen.box {
	background-color: #525252;
	height: 900px;
	width: 1250px;
	border-radius: 10px;
	position: relative;
	top: 50px;
	left: 18%;
	padding: 16px;
}

/* Buttons */
.keys {
	position: relative;
	top: 15px;
}


.buttons {
	color: #C8C9CF;
	top: 50px;
	
	}
.inventory {

	
	
	}